ANTHROPIC_API_KEY="--- your key ---"
TOGETHER_API_KEY="--- your key ---"

POSTGRES_DATABASE="fondamenta"
POSTGRES_PASSWORD="fondamenta"
POSTGRES_USERNAME="fondamenta"

WEBUI_ADDR="127.0.0.1"
WEBUI_PORT="8080"

TZ="UTC"
